body.salix-ui {
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}
textarea#source, textarea#map, textarea#txt {
	height: 75%;
	min-height: 400px;
}
textarea#source {
	font-family: monospace;
}
iframe.preview {
	height: 75%;
	min-height: 400px;
	width: 100%;
}